$color-accent: #EF233C
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #FFFFFF
$color-background: white

// TYPO
$h1-size-desktop: px2rem(110)
$h2-size-desktop: px2rem(66)
$lead-size-desktop: px2rem(36)

$h2-weight: bold
$lead-size-desktop: px2rem(32)

$heading-font-family: "Archia", sans-serif
$body-font-family: "HelveticaNeue"
$lead-font-family: "HelveticaNeue"
$lead-weight: normal

$header-border-bottom-width: 0
$header-background: transparent
// $hero-color: #FFFFFF
$hero-background-color: white
$breadcrumb-color: #000000
$breadcrumb-color-active: $breadcrumb-color
$footer-color: white
$footer-background-color: #292929

$grid-max-width: px2rem(1680)
