$color-accent: #EF233C
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #FFFFFF
$color-background: #EDF2F4 

$heading-font-family: "Archia", sans-serif
$body-font-family: $heading-font-family

$header-color: #FFFFFF
$header-border-bottom-width: 0
$header-background: transparent
$hero-color: #FFFFFF
$hero-background-color: #2B2D42
$breadcrumb-color: #000000
$breadcrumb-color-active: $breadcrumb-color
$footer-background-color: #8D99AE