// DESIGN SYSTEM
.logo
    text-decoration: none !important
    span
        @include small

header
    .logo
        align-items: center
        display: flex
        gap: $spacing0

footer
    .logo
        span
            display: block

// BLOCKS
.block-key_figures
    dl
        dt
            color: $color-accent